*, *::after, *::before { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; }

body { font-family: 'sans-serif'; font-size: 1.6rem; position: relative; }

body ::-webkit-scrollbar { width: 5px; }

body ::-webkit-scrollbar-track { background: #505050; }

body ::-webkit-scrollbar-thumb { background: #888; }

body ::-webkit-scrollbar-thumb:hover { background: #555; }

a { display: inline-block; }

img { display: block; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

[class$="__wrapper"], .wrapper { max-width: 1200px; width: 90%; margin: 0 auto; }

.mask { display: none; position: fixed; right: 0; left: 0; top: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.6); height: 100vh; z-index: 10; }

@media (min-width: 768px) { .mask { display: none; } }

.header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.menu { background-color: #00a2ff; }

.menu__wrapper { padding: 1.5rem 0; }

@media (min-width: 768px) { .menu__wrapper { padding: initial; } }

.menu__grid { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.menu__description { display: block; color: #fff; }

@media (min-width: 768px) { .menu__description { display: none; } }

@media (min-width: 768px) { .menu { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; } }

.navegation { width: 80%; height: 100vh; overflow: auto; position: fixed; background-color: rgba(0, 0, 0, 0.5); top: 0; left: -100vw; -webkit-transition: left 1s; transition: left 1s; z-index: 20; }

@media (min-width: 768px) { .navegation { position: static; height: initial; width: initial; background-color: initial; width: 100%; overflow: initial; } }

.navegation__close { display: block; position: absolute; right: 15px; top: 15px; background-color: #000; border-radius: 100%; padding: 1rem; text-decoration: none; color: white; font-weight: bold; font-size: 1.8rem; width: 3.5rem; height: 3.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (min-width: 768px) { .navegation__close { display: none; } }

.navegation__list { padding-top: 4.5rem; list-style-type: none; }

@media (min-width: 768px) { .navegation__list { padding: initial; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

.navegation__item { border-bottom: 0.5px solid #404040; }

@media (min-width: 768px) { .navegation__item { border-bottom: initial; padding: initial; position: relative; } }

.navegation__link { text-decoration: none; color: #fff; padding: 1.5rem 0 1.5rem 2.5rem; width: 100%; }

@media (min-width: 768px) { .navegation__link { padding: initial; padding: 1.5rem; font-size: 1.2rem; }
  .navegation__link:hover { background-color: #0082cc; } }

@media (min-width: 1024px) { .navegation__link { font-size: 1.8rem; } }

.navegation__link--expandable { padding-right: 2.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; position: relative; }

@media (min-width: 768px) { .navegation__link--expandable { display: inline-block; }
  .navegation__link--expandable:hover ~ .submenu { display: block; }
  .navegation__link--expandable:after { display: block; content: ''; position: absolute; right: 5%; top: 50%; border-top: 5px solid white; border-right: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid transparent; } }

.navegation__expandable { text-decoration: none; color: #fff; font-size: 2rem; }

@media (min-width: 768px) { .navegation__expandable { display: none; } }

.submenu { display: none; background-color: rgba(137, 137, 137, 0.9); list-style-type: none; z-index: 30; }

.submenu__item { border-bottom: 0.5px solid #9a9a9a; }

@media (min-width: 768px) { .submenu__item { padding: initial; border-bottom: 0.5px solid #eaeaea; }
  .submenu__item:nth-of-type(5) { border-bottom: initial; } }

.submenu__item:nth-of-type(1) { border-top: 0.5px solid #9a9a9a; }

@media (min-width: 768px) { .submenu__item:nth-of-type(1) { border-top: 0.5px solid #eaeaea; } }

.submenu__link { text-decoration: none; color: #fff; padding: 1.5rem 0 1.5rem 5rem; width: 100%; }

@media (min-width: 768px) { .submenu__link { padding: initial; padding: 1.5rem; font-size: 1.2rem; color: #000; }
  .submenu__link:hover { color: #00a2ff; } }

@media (min-width: 1024px) { .submenu__link { font-size: 1.8rem; } }

@media (min-width: 768px) { .submenu { background-color: #fff; position: absolute; top: 100%; left: 0; white-space: nowrap; -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.35); box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.35); }
  .submenu:hover { display: block; } }

.menu-burguer { display: block; width: 2.5rem; }

@media (min-width: 768px) { .menu-burguer { display: none; } }

.info { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; background-color: #fff; }

.info__wrapper { padding: 3rem 0 0 0; }

@media (min-width: 768px) { .info__wrapper { padding: 0; } }

.info__grid { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

@media (min-width: 768px) { .info__grid { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-column-gap: 2rem; column-gap: 2rem; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; } }

.info__logo { padding-top: 4rem; font-size: 4rem; max-width: 50%; }

.info-contact { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; row-gap: 1.5rem; text-align: center; }

.info-contact__number, .info-contact__direction { -webkit-box-flex: 1; -ms-flex: 1 0 100%; flex: 1 0 100%; text-decoration: none; background-color: #00a2ff; color: #fff; padding: 2rem 1rem; font-size: 1.5rem; border-radius: 5px; }

@media (min-width: 768px) { .info-contact__number, .info-contact__direction { color: initial; padding: initial; border-radius: initial; background-color: initial; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; } }

@media (min-width: 768px) { .info-contact__number { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-column-gap: .8rem; column-gap: .8rem; }
  .info-contact__number::before { display: block; content: ''; background-image: url(../../images/phone-icon.png); width: 2rem; height: 2rem; background-repeat: no-repeat; background-position: center; background-size: cover; } }

@media (min-width: 768px) { .info-contact { text-align: right; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.info-logo { width: 25rem; }

.social-media { -webkit-box-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; display: -ms-grid; display: grid; -ms-grid-columns: (60px)[3]; grid-template-columns: repeat(3, 60px); -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-column-gap: 1rem; column-gap: 1rem; }

.social-media__icon { width: 100%; background-color: #aaaaaa; padding: 1.5rem; }

@media (min-width: 768px) { .social-media__icon { background-color: initial; padding: initial; } }

@media (min-width: 768px) { .social-media { -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; -ms-grid-columns: (30px)[3]; grid-template-columns: repeat(3, 30px); -webkit-column-gap: 2rem; column-gap: 2rem; } }

.footer { background-color: #00a2ff; color: #fff; padding-top: 4.5rem; text-align: center; font-size: 1.5rem; }

.footer-contact { margin-top: 1.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; line-height: 1.5; }

@media (min-width: 768px) { .footer-contact { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; line-height: initial; -webkit-box-align: initial; -ms-flex-align: initial; align-items: initial; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .footer-contact__number { border-right: 1px solid #fff; padding-right: 1rem; }
  .footer-contact__address { padding-left: 1rem; } }

.right-reserved { margin-top: 4.5rem; border-top: 1px solid rgba(255, 255, 255, 0.5); padding: 1.5rem 0; font-size: 1.3rem; }

.about-us { padding-top: 6rem; padding-bottom: 6rem; text-align: center; }

.about-us__grid { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; row-gap: 4.5rem; }

@media (min-width: 768px) { .about-us__grid { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

@media (min-width: 768px) { .about-us { padding-top: 4.5rem; padding-bottom: 4.5rem; } }

.contact-us { -webkit-box-flex: 1; -ms-flex: 1 0 100%; flex: 1 0 100%; }

.contact-us__info, .contact-us__button { margin-top: 1.5rem; }

.contact-us__button { color: #fff; padding: 1rem 2.5rem; background-color: #00a2ff; text-decoration: none; display: inline-block; text-align: center; border-radius: 10px; width: 80%; }

.contact-us__button:hover { background-color: #0082cc; }

@media (min-width: 768px) { .contact-us { -webkit-box-flex: 0; -ms-flex: 0 0 40%; flex: 0 0 40%; } }

.location { -webkit-box-flex: 1; -ms-flex: 1 0 100%; flex: 1 0 100%; }

.location__map { margin-top: 1.5rem; height: 10rem; display: block; }

@media (min-width: 1024px) { .location__map { height: 15rem; } }

@media (min-width: 768px) { .location { -webkit-box-flex: 0; -ms-flex: 0 0 40%; flex: 0 0 40%; } }

.show-navegation { left: 0; }

.show-mask { display: block; }

@media (min-width: 768px) { .show-mask { display: none; } }

.show-submenu { display: block; }

.ecography { padding-top: 6rem; }

.ecography__title { margin-bottom: 2.5rem; }

.ecography__text { margin-bottom: 2rem; }

.ecography__text:nth-of-type(4) { margin-bottom: 0rem; }

.ecography__container-image { margin-bottom: 2rem; }

@media (min-width: 768px) { .ecography__container-image { float: right; width: 30rem; height: 20rem; margin-bottom: 0rem; margin-left: 1rem; } }

@media (min-width: 768px) { .ecography { padding-top: 4.5rem; } }

.about-us { padding-top: 6rem; padding-bottom: 6rem; text-align: center; }

.about-us__grid { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; row-gap: 4.5rem; }

@media (min-width: 768px) { .about-us__grid { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

@media (min-width: 768px) { .about-us { padding-top: 4.5rem; padding-bottom: 4.5rem; } }

.contact-us { -webkit-box-flex: 1; -ms-flex: 1 0 100%; flex: 1 0 100%; }

.contact-us__info, .contact-us__button { margin-top: 1.5rem; }

.contact-us__button { color: #fff; padding: 1rem 2.5rem; background-color: #00a2ff; text-decoration: none; display: inline-block; text-align: center; border-radius: 10px; width: 80%; }

.contact-us__button:hover { background-color: #0082cc; }

@media (min-width: 768px) { .contact-us { -webkit-box-flex: 0; -ms-flex: 0 0 40%; flex: 0 0 40%; } }

.location { -webkit-box-flex: 1; -ms-flex: 1 0 100%; flex: 1 0 100%; }

.location__map { margin-top: 1.5rem; height: 10rem; display: block; }

@media (min-width: 1024px) { .location__map { height: 15rem; } }

@media (min-width: 768px) { .location { -webkit-box-flex: 0; -ms-flex: 0 0 40%; flex: 0 0 40%; } }
/*# sourceMappingURL=ecography.css.map */