@import 'variables.scss';
@import 'mixins.scss';
@import 'globals.scss';
@import '_header';  
@import '_footer';
@import 'utils.scss';  




//Estilos para la pagina de la tienda online
.online-store{
    line-height:1.5;
    font-size:1.5rem;
    padding-top:6rem;
    @include tablet{
        padding-top:4.5rem;
    }
    &__title{
        margin-bottom: 2.5rem;
    }
    &__text{
        margin-bottom:2rem;
    }
    &__text-bold{
        font-weight:600;
        font-size:2rem;
    }
    &__button{
        @include button($primary, $white);
        width:40%;
        @include tablet{
            width:30%;
        }
        @include desktop{
            width:20%;
        }
    }
}

.online-store-service{
    margin-bottom:2rem;
    &__item{
        margin-bottom:1rem;
    }
    &__title{
        font-weight:600;
    }
}


//Estilos de acerca de nosotros

.about-us{
    padding-top:6rem;
    padding-bottom:6rem;
    text-align:center;
    &__grid{
        display:flex;
        flex-wrap:wrap;
        row-gap:4.5rem;
        @include tablet{
            flex-direction:row;
            justify-content:space-between;
            align-items:center;
        }
    }
    @include tablet{
        padding-top:4.5rem;
        padding-bottom:4.5rem;
    }
} 

.contact-us{
    flex: 1 0 100%;
    &__info,&__button{
        margin-top:1.5rem;
    }
    &__button{
        @include button($primary, $white)
    }
    @include tablet{
        flex: 0 0 40%;
    }
}
.location{
    flex:1 0 100%;
    &__map{
        margin-top:1.5rem;
        height:10rem;
        display:block;
        @include desktop{
            height:15rem
        }
    }
    @include tablet{
        flex: 0 0 40%;
    }
} 